# Python
__pycache__/
*.py[cod]
*$py.class

# Sample Guides
Sample Guides/

# Database
*.db

# IDE settings
.vscode/
.idea/

# Environment
venv/
env/
.env

# Distribution / packaging
dist/
build/
*.egg-info/